# --- Binarios y Temporales de Compilación ---
build/
*.elf
*.hex
*.obj
*.o
*.out
*.map

# --- Herramientas Locales ---
# Ignoramos la carpeta de herramientas porque son ejecutables de Windows
# que no deben vivir en el repositorio de código.
tools/

# --- VS Code ---
.vscode/

# --- Otros ---
.DS_Store
Thumbs.db